@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.active-item{
  position: relative;
}

.active-item::before{
  content: " ";
  position: absolute;
  height: 30px;
  width: 5px;
  background-color: #2D60FF;
  left: -1px;
  border-radius: 0px 10px 10px 0px;
}